<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

<h3><%= title %></h3>

<p>Hi my name is <%= name %>, I thought cheese from pizza was vein and I was scared.</p>

</body>
</html>
